<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia sesion</title>
</head>
<body>
    <h1>Iniciar Sesión</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="POST" action="/usuario">
        <label for="usu">Nombre de Usuario:</label>
        <input type="text" name="usu" required>
        <br><br>
        <label for="contraseña">Contraseña:</label>
        <input type="password" name="contraseña" required>
        <br><br><br>
        <button type="submit">Ingresar</button>
    </form>
</body>
</html>

